body {
  background-image: url("/assets/nebulaWP.jpg");
  background-repeat: no-repeat;
  background-size: cover;
 }

 * {
  box-sizing: border-box;
}

.header, .footer {
  background: linear-gradient(to bottom, #d95c6b 0%, #253154 100%);
  padding: 20px;
  border: 2px solid black;
  text-align: center;
}
.column {
  float: left;
  font-size: 125%;
  padding: 15px;
}
.column.middle {
  width: 75%;
  align-content: center;
}
.column.side {
  width: 25%;
  text-align: center;
}
.row:after {
  content: "";
  display: table;
  clear: both;
  }
@media screen and (max-width: 600px) {
  .column.middle, .column.side {
    width: 100%;
  }
}
p {
  color:white;
}
#glow {
	box-shadow:
		0 0 60px 30px #fff,  /* inner white */
		0 0 100px 60px #f0f, /* middle magenta */
		0 0 140px 90px #0ff; /* outer cyan */
}