/* was styles-revised.css */
html, body
{
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
}
body
{
	/*background-color:#15181f;*/
	background-image: url('public/assets/arecibo.png');
	background-size: cover;
	height: 100vh;
	background-position: center;

	font-family:'MS PGothic', 'Anonymous Pro', monospace;
	font-size:12pt;
}

#left-sidebar
{
	width:100%;
	height:100%;
	padding: 0;
	margin:0;
}


#right-sidebar
{
	position: fixed;
	left:70%;
	right:0;
	bottom: 0;
	top:0;

	background-color: rgba(0, 0, 0, 0.812);

	padding: 3em;
	padding-top: 0;
	color: #8080FF;


	-webkit-box-sizing: border-box;  /*Safari/Chrome, other WebKit */
	-moz-box-sizing: border-box;     /*Firefox, other Gecko */
	box-sizing: border-box;          /*Opera/IE 8+ */

	/* background-image:url('../img/logo_b.png'); */
	background-repeat: no-repeat;
	background-position: bottom center;
	background-position:50% 85%;
}

#disclaimer-sidebar
{
	position: fixed;
	left:70%;
	right:0;
	bottom: 0;
	top:0;

	background-color: rgb(255, 255, 255, 95%);

	padding: 3em;
	padding-top: 0;
	color:	rgb(0 0 0);


	-webkit-box-sizing: border-box;  /*Safari/Chrome, other WebKit */
	-moz-box-sizing: border-box;     /*Firefox, other Gecko */
	box-sizing: border-box;          /*Opera/IE 8+ */

	/* background-image:url('../img/logo_b.png'); */
	background-repeat: no-repeat;
	background-position: bottom center;
	background-position:50% 85%;

	overflow: scroll
}

#logo
{
	display: block;
	width: 256px;
	margin: 0 auto;

	position: absolute;
	left: 0;
	right: 0;
	margin-left: auto;
	margin-right: auto;
	bottom: 5%;

	z-index: 0;
}
#footer
{
	text-align: center;
	position: absolute;
	margin: 0;
	left: 0;
	right: 0;
	margin-left: auto;
	margin-right: auto;
	bottom: 3px;
}
#right-sidebar h1
{
	font-size: 48pt;
	font-weight: 100;
	text-transform: uppercase;
	text-align: center;
	font-family: 'Quicksand', 'Raleway', sans-serif;
}
#right-sidebar h2
{
	text-align: center;
}
#sect-what
{
	width: 66%;
	margin: 0 auto;
	margin-top: 5%;
}
#sect-links
{
	width: 66%;
	margin: 0 auto;
	margin-top: 5%;

	text-align: center;
}
#sect-options
{
	width: 66%;
	margin: 0 auto;
	margin-top: 10%;
}

/* Sidebar Pay */
#side-bpay, #sidepay-bcontainer
{
	width: 65%;
	margin: 0 auto;
}
#sideb-payme
{
	width: 100%;
	height: 80px;
	
	text-align: center;

	background-color: #f6a21b;
	color: #15181f;
	border: 3px solid #f6a21b;

	z-index: 15;

	font-family: 'Quicksand', 'Raleway', sans-serif;
	font-size: 18pt;

	margin-top: 20%;
}
#sideb-payme:hover
{
	background-color: #15181f;
	border: 3px solid #f6a21b;
	color: #f6a21b;

	cursor: pointer;
}


/* Dashboard/welcome etc */
/* #dash
{
	
} */
#dash-user-welcome
{
	color:#f6a21b;
}

/* Banner */
#bannerbody *
{
	padding: 0;
	margin: 0;
}
#bannerbody
{
	margin:0;
	padding: 0;
	position: absolute;
	width: 100%;

	z-index: 5;

	background-color: #574f85;
}
#banner
{
	min-height: 50px;
	line-height: 65px;
	text-align: center;
	z-index: 10;
}
#banner-firsttime
{
	font-family:'Quicksand', 'Raleway', sans-serif;
	font-size: 18pt;
	
}
#banner a
{
	color: #15181f;
}
#banner-close
{
	float:right;
	line-height: 50px;
	margin-right: 2.5%;
	font-size: 24pt;
	font-weight: 700;

	z-index: 50;
}
#banner-close:hover
{
	color: #4a538a;
	cursor: pointer;
}
#banner-info
{
	width: 50%;
	margin: 0 auto;
	padding: 3px;
}
#buyline
{
	margin-top: 45px;
}
#buyline h4
{
	font-size: 15pt;
	font-weight: bolder;
}
#pay-b-container
{
	width: 50%;
	margin: 0 auto;
}
#b-payme
{
	width: 100%;
	height: 80px;
	
	text-align: center;

	background-color: #15181f;
	color: rgb(27 113 246);
	border: 3px solid #15181f;

	z-index: 15;

	font-family: 'Quicksand', 'Raleway', sans-serif;
	font-size: 18pt;

	margin-top: 20%;
}
#b-payme:hover
{
	background-color: #f6a21b;
	border: 3px solid #15181f;
	color: #15181f;

	cursor: pointer;
}


/* Visualization */
#mycanvas
{
	position:fixed;
	left:0;
	top:0;
	z-index: -10;
}



/* Checkboxes and links */
a
{
	color: rgb(3, 77, 121);
}
label
{
	color: #0080FF;
}
input[type="checkbox"] + label span
{
	display: inline-block;
	width: 14px;
	height: 14px;
	vertical-align: middle;
	margin:-1px 4px 0 0;
	/* background:url('../img/checkbox.png') left top no-repeat; */
	cursor: pointer;
}
/* input[type="checkbox"]:checked + label span
{
	background:url('../img/checkbox.png') -14px top no-repeat;
} */

/* Background changing */
#bg-controls
{
	position: absolute;
	bottom: 5px;
	left:5px;
	color:#fff;
}
/* CSS */
/* CSS */
#change-background-button {
	padding: 0.6em 2em;
	border: none;
	outline: none;
	color: rgb(255, 255, 255);
	background: #111;
	cursor: pointer;
	position: relative;
	z-index: 2;
	border-radius: 10px;
	user-select: none;
	-webkit-user-select: none;
	touch-action: manipulation;
	
  }
  
  #change-background-button:before {
	content: "";
	background: linear-gradient(
	  45deg,
	  #ff0000,
	  #ff7300,
	  #fffb00,
	  #48ff00,
	  #00ffd5,
	  #002bff,
	  #7a00ff,
	  #ff00c8,
	  #ff0000
	);
	position: absolute;
	top: -2px;
	left: -2px;
	background-size: 400%;
	z-index: -1;
	filter: blur(5px);
	-webkit-filter: blur(5px);
	width: calc(100% + 4px);
	height: calc(100% + 4px);
	animation: glowing-button-85 20s linear infinite;
	transition: opacity 0.3s ease-in-out;
	border-radius: 10px;
  }
  
  @keyframes glowing-button-85 {
	0% {
	  background-position: 0 0;
	}
	50% {
	  background-position: 400% 0;
	}
	100% {
	  background-position: 0 0;
	}
  }
  
  #change-background-button:after {
	z-index: -1;
	content: "";
	position: absolute;
	width: 100%;
	height: 100%;
	background: #222;
	left: 0;
	top: 0;
	border-radius: 10px;
  }
  
  #bg-controls {
	position: absolute;
	bottom: 5px;
	left: 5px;
	color: #fff;
  }
  
#bg-switch-next, #bg-switch-prev
{
	font-size: 16pt;
}
#bg-name
{
	display:inline-block;
	width:100px;
}
#bg-switch-next:hover, #bg-switch-prev:hover
{
	cursor: pointer;
}

/*Utility*/
.clear
{
	display: block;
	clear:both;
}
.new
{
	font-size: 8pt;
	color: #fff;
	margin-left: 3px;
}
.unselectable
{
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}
.center-text
{
	text-align: center;
}
.invis
{
	display: none;
}




/* Hide/show sidebar */
#hide-sidebar
{
	position: absolute;
	left: 5px;
	top:5px;
	cursor: pointer;
}
#show-sidebar
{
	position: absolute;
	top:5px;
	right:5px;
	cursor: pointer;
	color:#8080FF;
}

/* Hide/show disclaimer */
#hide-disclaimer
{
	position: absolute;
	left: 5px;
	top: 5px;
	cursor: pointer;
}
#show-disclaimer
{
	position: absolute;
	top:5px;
	right:5px;
	cursor: pointer;
	color:#8080FF;
}

audio{
	width: 30%;
	position: absolute;
	bottom: 0px;
	right: 650px;
}
audio::-webkit-media-controls-panel{
	background-color: #8080FF;
}
audio::-webkit-media-controls-play-button{
	background-color: #8080FF;
}

.img-sun{
	width: 200px;
	height: 200px;
	position: absolute;
	bottom: 400px;
	left: 200px;
}

.img-alien{
	width: 200px;
	height: 200px;
	position: absolute;
	bottom: 10px;
	left: 100px;
}

.img-space{
	width: 200px;
	height: 200px;
	position: absolute;
	bottom: 250px;
	left: 250px;
}