:root{
    --black: #000000;
    --automatic: #333;
    --taupe: #404040;
	--grey: #808080;
    --silver: #C0C0C0;
    --offwhite: #f4f4f4;
	--white: #FFFFFF;

    --maroon: #800000;      --brick: #C04040;   --red: #FF0000;     --pink: #FF8080;
    --viridian: #008000;    --celedon: #40C040; --green: #00FF00;   --light-green: #80FF80;
    --navy: #000080;        --cadet: #4040C0;   --blue: #0000FF;    --light-blue: #8080FF;

    --gold: #808000;        --beige: #C3C040;   --yellow: #FFFF00;  --light-yellow: #FFFF80;
    --teal: #008080;        --grey-cyan: #40C3C0; --cyan: #00FFFF;  --electric: #80FFFF;
    --dark-magenta: #800080; --grey-magenta: #C040C0; --magenta:  #FF00FF;  --hot-pink: #FF80FF;
	
	--hazel: #804000;       --sepia: #C08040;   --orange: #FF8000;  --coral: #FFC080;
	--martian: #408000;     --jasmine: #80C040; --chartreuse: #80FF00; --avocado: #C0FF80;
	--jungle: #008040;      --ming: #40C080;    --spring: #00FF80;  --light-spring: #80FFC0;
	--dark-azure: #004080;  --tuft: #4080C0;    --azure: #0080FF;   --light-azure: #80C0FF;
	--dark-violet: #400080; --harley: #8040C0;  --violet: #8000FF;  --mauve: #C080FF;
	--wine: #800040;        --dazzle: #C04080;  --rose: #FF0080;    --light-rose: #FF80C0;

    --cinnibar: #802200;    --grey-vermillion: #C06240; --vermillion: #FF4400; --salmon: #FFA280; 
    --earth: #806200;       --wheat: #C0A240;   --amber: #FFC300;   --light-amber: #FFE180; 
    --olive: #608000;       --tropical: #A2C040; --lime: #C3FF00;   --mystic: #E1FF80; 
    --pepper: #228000;      --sour: #62C040;    --harlequin: #44FF00; --radar: #A2FF80; 
    --dark-erin: #008022;   --turf: #40C062;    --erin: #00FF44;    --menthol: #80FFA2; 
    --dark-aquamarine: #008060; --grey-aquamarine: #40C0A2; --aquamarine: #00FFC3; --light-aquamarine: #80FFE1; 
    --adriatic: #006080;    --norse: #40A2C0;   --capri: #00C3FF;   --light-capri: #80E1FF; 
    --dark-cerulean: #002280; --speech: #4062C0; --cerulean: #0044FF; --pool: #80A2FF; 
    --dark-indigo: #220080; --dragonlord: #6240C0; --indigo: #4400FF; --illusion: #A280FF; 
    --dark-purple: #600080; --pheromone: #A240C0; --purple: #C300FF; --fetish: #E180FF; 
    --xereus: #800060;      --nusp: #C040A2;    --cerise: #FF00C3;  --grenadine: #FF80E1; 
    --oxblood: #800022;     --grey-crimson: #C04062; --crimson: #FF0044; --blush: #FF80A2; 

    --scarlet: #FF2000; 
    --persimmon: #FF6000; 
    --orange-peel: #FFA000; 
    --golden-yellow: #FFE000; 
    --lemon: #E0FF00; 
    --spring-bud: #A0FF00; 
    --bright-green: #60FF00; 
    --neon: #20FF00; 
    --jade: #00FF20; 
    --emerald: #00FF60; 
    --mint: #00FFA0; 
    --turquoise: #00FFE0; 
    --sky: #00E0FF; 
    --cornflower: #00A0FF; 
    --cobalt: #0060FF; 
    --saphire: #0020FF; 
    --iris: #2000FF; 
    --veronica: #8000FF; 
    --amethyst: #A000FF; 
    --phlox: #E000FF; 
    --fuschia: #FF00E0; 
    --deep-pink: #FF00A0; 
    --respberry: #FF0060; 
    --amaranth: #FF0020; 

    --weblink: #007bff;
}